NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_COMPANY_NAME=ParkChargeEV
NEXT_PUBLIC_SUPPORT_PHONE=05514914320
NEXT_PUBLIC_SUPPORT_EMAIL=info@parkchargeev.com
NEXT_PUBLIC_WHATSAPP_PHONE=905514914320
NEXT_PUBLIC_OFFICE_CITY=Sakarya
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_FACEBOOK_URL=

DATABASE_URL=postgres://postgres:postgres@localhost:5432/parkchargeev
ADMIN_JWT_SECRET=<SECRET>
ADMIN_BOOTSTRAP_NAME=ParkChargeEV Superadmin
ADMIN_BOOTSTRAP_EMAIL=admin@parkchargeev.com
ADMIN_BOOTSTRAP_PASSWORD=<SECRET>
ADMIN_MONTHLY_REVENUE_TARGET_KURUS=2500000

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=product-media

PAYTR_MERCHANT_ID=
PAYTR_MERCHANT_KEY=
PAYTR_MERCHANT_SALT=
PAYTR_TEST_MODE=1
PAYTR_DEBUG_ON=1
PAYTR_CURRENCY=TL
PAYTR_TIMEOUT_LIMIT=30
PAYTR_TEST_USER_IP=

NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
