NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_COMPANY_NAME=ParkChargeEV
NEXT_PUBLIC_SUPPORT_PHONE=05514914320
NEXT_PUBLIC_SUPPORT_EMAIL=info@parkchargeev.com
NEXT_PUBLIC_WHATSAPP_PHONE=905514914320
NEXT_PUBLIC_OFFICE_CITY=Sakarya
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_FACEBOOK_URL=

DATABASE_URL=postgres://postgres:postgres@localhost:5432/parkchargeev

PAYTR_MERCHANT_ID=
PAYTR_MERCHANT_KEY=
PAYTR_MERCHANT_SALT=
PAYTR_TEST_MODE=1
PAYTR_DEBUG_ON=1
PAYTR_CURRENCY=TL
PAYTR_TIMEOUT_LIMIT=30

NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
